{% extends "base.html" %}
{% block content %}
<div class="contact mx-auto">
    <div class="contact-info text-center">
        <img src="../static/images/dennis_photo.jpg" style="border-radius: 20%;" class="mx-auto mt-3" width="200px" height="250px" alt="team-logo">
        <h3 class="font mt-2">Dennis Krupitsky</h3>
        <div class="mt-3">
            <a target="_blank" href="https://www.linkedin.com/in/dennis-krupitsky-481168182/"><input type="image" class="mr-2" height="65px" src="../static/images/linkedin.png" alt="Open Link"/></a>
            <a target="_blank" href="https://github.com/denniskrup"><input type="image" class="mr-3" height="65px" src="../static/images/github.png" alt="Open Link"/></a>

        </div>
    </div>
    
    <div class="contact-info float-right text-center">
        <img src="../static/images/tashi_photo.jpg" style="border-radius: 20%;" class="mx-auto mt-3" width="200px" height="250px" alt="team-logo">
        <h3 class="font mt-2">Tashi T. Gurung</h3>
        <div class="mt-3">
            <a target="_blank" href="https://linkedin.com/in/tashitgurung"><input type="image" class="mr-2" height="65px" src="../static/images/linkedin.png" alt="Open Link"/></a>
            <a target="_blank" href="https://github.com/TashiNyangmi"><input type="image" class="mr-3" height="65px" src="../static/images/github.png" alt="Open Link"/></a>
        </div>
    </div>

</div>
{% endblock %}