{% extends "base.html" %}
{% block content %}
  <div class="text-center">
      <h1 class="week">Week {{week}}</h1>
      <form action="{{ url_for(function) }}" method="POST">
        <fieldset>
            {% if year == 2020: %}
            <input class="search-bar-custom" name="week_user_selected" min=1 max={{week}} type="number" required>
            {% elif year == 2017: %}
            <input class="search-bar-custom" name="week_user_selected" min=2 max=17 type="number" required>
            {% else: %}
            <input class="search-bar-custom" name="week_user_selected" min=1 max=17 type="number" required>
            {%endif%}
            <input class="search-bar-custom-button" type="submit" value="Find week">
        </fieldset>
      </form>
  </div>
  <div class= "games mt-5">
    <div class="container-custom mx-auto">
    {% for row in games.itertuples(index=True, name='Pandas'):%}
        {% if row.Index % 3 == 0: %}
          {% if row.Index > 0: %}
            </div>
          {%endif%}
          <div class="row">
          <div class="col-sm game mb-5">
        {% else: %}
          <div class="col-sm game ml-5 mb-5">
        {%endif%}
      
        <div class="game-details">
          <img src="../static/images/team_logos/{{row.HomeTeam}}.png" class="ml-1" width="55px" height="55px" alt="team-logo">
          <img src="../static/images/team_logos/{{row.AwayTeam}}.png" class="float-right mr-2" width="50px" height="50px" alt="team-logo">
          <br/>
          <p class="team_names ml-3">{{row.HomeTeam}}</p>
          <p class="team_names float-right mr-3">{{row.AwayTeam}}</p>
        </div>
        <div class="text-center mt-5">
          <div class="mb-2 predictions">
            {% if row.PredictHomeTeamWin == 1: %}
              <span>Predicted Winner: {{row.HomeTeam}}</span>
              <br/>
            {% else: %}
              <span>Predicted Winner: {{row.AwayTeam}}</span>
              <br/>
            {%endif%}
            {% if row.HomeResult == None: %}
              <span>Actual Winner: TBD</span>
            {% else: %}
              {% if row.HomeResult == 1: %}
                <span>Actual Winner: {{row.HomeTeam}}</span>
                {% if row.HomeResult == row.PredictHomeTeamWin: %}
                  <span class="dot" style="background-color: green;"></span>
                {% else: %}
                  <span class="dot" style="background-color: red;"></span>
                {%endif%}
              {% else: %}
                <span>Actual Winner: {{row.AwayTeam}}</span>
                {% if row.HomeResult == row.PredictHomeTeamWin: %}
                  <span class="dot" style="background-color: green;"></span>
                {% else: %}
                  <span class="dot" style="background-color: red;"></span>
                {%endif%}
              {%endif%}
            {%endif%}
          </div>
        </div>
        
      </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}