{% extends "base.html" %}
{% block content %}
  <form action="{{ url_for('specific_matchups') }}" method="POST">
    <fieldset>
          <select name="team_user_selected_1">
              {% for _, row in teams.items():%}
                  <option value={{row}}>{{row}}</option>
              {% endfor %}
          </select>
          <select name="team_user_selected_2">
              {% for _, row in teams.items():%}
                  <option value={{row}}>{{row}}</option>
              {% endfor %}
          </select>
          <input type="submit" value="Submit">
    </fieldset>
  </form>
  {% if predicted_winner != "": %}
      <h4> Predicted Winner of a potential {{home_team}} vs {{away_team}} matchup: {{predicted_winner}}  </h4>
  {%endif%}
{% endblock %}
